#history
  .ui.four.column.stackable.grid.container
    each poke in history
      .column
        a(href=`/${poke.id}`)
          .ui.card
            .image
              img(src=`http://assets.pokemon.com/assets/cms2/img/pokedex/detail/${poke.id}.png`)
            .content
              .header #{poke.id} - #{poke.name}
              .description
                each typeDatum in poke.types
                  i(class=`circle icon ${typeDatum.toLowerCase()}`)
